{% extends "base.html" %}
{% block content %}
    <!-- index.html -->
    {% if object_list %}
        <h3>My lists</h3>
    {% endif %}
    <ul>
        {% for todolist in object_list %}
            <li>
                <div role="button" onclick="location.href='{% url "list" todolist.id %}'">
                    {{ todolist.title }}
                </div>
            </li>
        {% empty %}
            <h4>You have no lists!</h4>
        {% endfor %}
    </ul>
    <p>
        <input
                value="Add a new list"
                type="button"
                onclick="location.href='{% url "list-add" %}'"/>
    </p>
{% endblock %}
